{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Search
{% endblock title %}

{% block content %}
   <h1>Поиск</h1>

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

   <hr>
  {% if search %}
       <table cellspacing="5" cellpadding="10" border="1" width="100%">
           {% for post in search %}
           <tr>
               <td align="left"  width="150">{{ post.article_title|truncatewords:2|censor}}</td>

               <td align="left" width="150">{{ post.date_of_creation|date:'d.m.Y' }}</td>
               <td align="center" width="1000">{{ post.text|truncatewords:20|censor}}</td>
               <td>
                    {% if perms.news.change_post %}
                    <a href="{% url 'news_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.snews.delete_post %}
                    <a href="{% url 'news_delete' post.id %}">Удалить</a>
                    {% endif %}
               </td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Ничего не найдено  !</h2>
   {% endif %}

   {% if page_obj.has_previous %}

       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}